[submodule "simplex-catalog-servers-validator"]
	path = simplex-catalog-servers-validator
	url = git@github.com:ed-asriyan/simplex-catalog-servers-validator.git
	branch = master
[submodule "simplex-catalog-bots-validator"]
	path = simplex-catalog-bots-validator
	url = git@github.com:ed-asriyan/simplex-catalog-bots-validator.git
	branch = master
[submodule "simplex-catalog-relays-validator"]
	path = simplex-catalog-relays-validator
	url = git@github.com:ed-asriyan/simplex-catalog-relays-validator.git
	branch = master
[submodule "simplex-catalog-frontend"]
	path = simplex-catalog-frontend
	url = git@github.com:ed-asriyan/simplex-catalog-frontend.git
	branch = master
[submodule "simplex-catalog-supabase"]
	path = simplex-catalog-supabase
	url = git@github.com:ed-asriyan/simplex-catalog-supabase.git
	branch = master
